<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% if page_description %}<meta name="description" content="{{ page_description }}">{% endif %}
      {% if site_author %}<meta name="author" content="{{ site_author }}">{% endif %}
      {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}
      {% if favicon %}<link rel="shortcut icon" href="{{ favicon }}">
      {% else %}<link rel="shortcut icon" href="{{ base_url }}/img/favicon.ico">{% endif %}

      <title>{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}</title>

      <link href="{{ base_url }}/css/bootstrap-custom.min.css" rel="stylesheet">
      <link href="{{ base_url }}/css/font-awesome-4.0.3.css" rel="stylesheet">
      <link href="{{ base_url }}/css/base.css" rel="stylesheet">
   </head>

   <body>
      {% include "nav.html" %}

      <div id="content" class="container" role="main"></div>

      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src="{{ base_url }}/js/base.js"></script>
   </body>
</html>
